# Dependencies
client/node_modules/
server/node_modules/

# Builds
client/dist/
server/dist/

# Env
**/.env
**/.env.local

# Logs
*.log
logs/

# Cache
**/.vite/
**/.cache/
**/coverage/

# Editors
.vscode/
.idea/
.DS_Store
Thumbs.db
